    <footer class="font-lexend mt-auto" id="end-footer">
        <p class="my-24"> Made with ❤️ and Bootstrap 5.1.3 </p>
        <p class="my-24"> © Copyright 2022 - Victor Miguel de Morais Costa </p>
    </footer>
</html>