.font-lexend{
    font-family: 'Lexend', sans-serif;
}

.my-accordion{
    margin-left: 20%;
    margin-right: 20%;
}

.delete-icon{
    margin: 0px;
    padding: 0px;
}

.done-icon{
    margin: 0px;
    padding: 0px;
}

.delete-icon:hover{
    stroke: white;
}

.done-icon:hover{
    stroke: white;
}

.my-form{
    margin: auto auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 5px 5px 5px #CDD1DE;
    padding: 10px 5px 10px 5px;
}

.taskItem{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    align-items: center;
    box-shadow: 5px 5px 5px #CDD1DE;
}

.task-text{
    margin-top: 5px;
    margin-bottom: 5px;
}

.add-task-button{
    border: 1px;
    border-radius: 0px 150px 50px 0px;
}

#my-nav{
    background-color: #dedeed;
}

#greeting{
    text-align: center;
}

#end-footer{
    padding-top: 20px;
    text-align: center;
    background-color: #dedeed;
}