.font-lexend{
    font-family: 'Lexend', sans-serif;
}

.my-accordion{
    margin-left: 25em;
    margin-right: 25em;
}

.my-form{
    margin:0 auto;
}

.taskItem{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    align-items: center;
    box-shadow: 5px 5px 5px #CDD1DE /*#F7F7F9*/;
}

.task-text{
    margin-top: 5px;
    margin-bottom: 5px;
}

#my-nav{
    background-color: #dedeed;
}

#greeting{
    text-align: center;
}

#end-footer{
    padding-top: 20px;
    text-align: center;
    background-color: #dedeed;
}